.footer {  
  background: @grey;
  border-top: 1px solid @gold;
  color: white;
  padding-bottom: 20px;

  .footer__title {
    color: white;

    &::after {
      background: white;
    }
  }

  .footer__contacts {
    .footer__contacts-item {
      a {
        color: white;
        transition: 0.2s;
      }

      .footer__contacts-gold {
        color: @gold;

        &:hover {
          color: white;
        }
      }
    }
  }

  .footer__social {
    list-style: none;

    
  }
}