.footer {  
  background: @grey;
  border-top: 1px solid @gold;
  color: white;
  padding-bottom: 20px;

  .footer__title {
    color: white;

    &::after {
      background: white;
    }
  }

  .footer__contacts {
    .footer__contacts-item {
      a {
        color: white;
        transition: 0.2s;
      }

      .footer__contacts-gold {
        color: @gold;

        &:hover {
          color: white;
        }
      }
    }
  }

  .footer__social {
    list-style: none;
    margin-top: 20px;
    padding: 0 60px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;  
    justify-content: space-around;

    svg {
      fill: white;
      transition: 0.2s;

      &:hover {
        fill: @gold;
      }
    }
  }

  .footer__copyright {
    text-align: center;
  }
}

@media (min-width: @tablet-width) {
  .footer {
    background: url(../img/footer.jpg);
    border-top: 2px solid @gold;

    .footer__wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      width: 700px;
      margin: 0 auto;
      padding-bottom: 30px;      
  
      .footer__title {
        width: 100%;      
      }
  
      .footer__contacts {
        width: 400px;        
      }
  
      .footer__social {
        width: 200px;
        margin-bottom: 20px;
      }
  
      .footer__copyright {
        margin-top: 30px;
        width: 100%;
      }
    }
  }    
}

@media (min-width: @desktop-width) {
  .footer {
    border-top: 3px solid @gold;

    .footer__wrapper {
      min-width: 1200px;
      max-width: 1440px;

      .footer__contacts-item {
        margin-bottom: 10px;
      }

      .footer__social {
        margin-bottom: 60px;
      }
    }    
  }
}