.main-header {
  background: url(../img/texture-black.png);
  border-bottom: 1px solid @gold;
  
  .main-header__logo {   
    min-height: 200px;
    
    img {
      width: 150px;
      margin-top: 65px;
    }
  }
}