.popup {
  display: none;
  position: absolute;
  top: 0;  
  height: 100%;
  width: 100%;  

  .popup__overlay {
    z-index: 102;
    opacity: 0.5;
    background: black;
    height: 100%;
    width: 100%;
  }

  .popup__close {
    position: fixed;
    z-index: 103;
    top: 0;
    padding: 0;
    left: 70%;
    width: 23px;
    height: 23px;
    background: transparent;
    box-shadow: none;
    border: none;
    cursor: pointer;    

    .popup__cross-icon {
      position: absolute;
      top: 0;
      left: 0;
      fill: white;
      transition: 0.2s;

      &:hover {
        fill: @gold;
      }
    }
  }

  .popup__image-wrapper {
    position: fixed;
    z-index: 600;
    width: 320px;
    top: 10%;
    margin: auto;
    left: 0;
    right: 50px; 
  }

  img {
    display: none;        
    z-index: 600;    
    width: 320px;    
  }
}

@media (min-width: @tablet-width) {
  .popup {
    .popup__image-wrapper {
      width: 470px;
    }

    img {
      width: 470px;
    }
  }
}

@media (min-width: @desktop-width) {
  .popup {
    .popup__close {
      left: 65%;
      top: 2%;
    }

    .popup__image-wrapper {
      right: 140px;
    }

    img {
      width: 600px;      
    }
  }
}