.services {
  background: url(../img/texture-black.png);
  color: white;
  padding: 30px 0;
  padding-top: 0.1px;
  
  h3 {
    &::after {
      background: white;
    }
  }
  
  .services__svg{
    display: none;
  }  
}

@media (min-width: @tablet-width) {
  .services {
    .services__list {
      display: flex;
      padding: 0;
      margin: 0 auto;
      width: 470px;
      list-style: none;
      flex-wrap: wrap;               

      .services__item {
        position: relative;
        text-align: start;
        line-height: 60px;
        width: 50%;
        cursor: default;

        &:hover .services__svg {
          fill: white;
          transform: rotate(360deg);
        }

        .services__span {
          margin: 0;
          margin-left: 30px;          
        }

        .services__svg {
          display: block;
          fill: @gold;
          width: 25px;
          position: absolute;
          top: 18px;
          left: -5px;
          transition: 0.5s;
        }
      }
    }
  }
}

@media (min-width: @desktop-width) {
  .services {
    .services__list {
      width: 1200px;      

      .services__item {
        width: 25%;
        line-height: 100px;        

        .services__svg {
          width: 35px;
          top: 32px;
          left: -10px;
        }
      }
    }
  }
}

